.product-container{
    display: flex;
    
}
.product-container table{
    border-collapse: separate;
    border-spacing: 15px;
}
.product-container table tr td{
    padding-left: 40px;
}


.product-container table tr td img{
    width: 400px;
    height: 300px;
}